<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.telesevek">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".RemoteConfig.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SendSMSnoPhone"></activity>

        <activity
            android:name=".DoctorNotAvailable"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".NewActivityDetails" />
        <activity
            android:name=".Status.StatusFourActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Status.StatusThreeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".DoctorCallActivity"></activity> -->
        <activity
            android:name=".Status.StatusTwoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PastConsultationNewLoginScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PastCounsulation"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Doctowillcallyou"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorSideNew"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorSideFollowupConsulation"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorSidePastConsulation"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PatientFullImageShow"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Buycard"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScrachCard"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OurDoctor"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorCallActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorCallActivityFollow"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityCallDoctortoP"
            android:configChanges="orientation"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".AddPatiant" /> -->
        <!-- <activity android:name=".DoctorSide"></activity> -->
        <!-- <activity android:name=".DoctorConfirm" /> -->
        <activity
            android:name=".uploadpkg.UploadImage"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PetientLoading"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScratchCardNew"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileChemist"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhoneAuthDoctor.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhoneAuthDoctor.VerifyPhoneActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorSide"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorConfirm"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhoneAuthChemist.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhoneAuthChemist.VerifyPhoneActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhoneAuthConsulation.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhoneAuthConsulation.VerifyPhoneActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogindcActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YesterdayPatient"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TommarowPatient"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NoOldParamarsh"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".SplachScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddPatiant"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".uploadpkg.ShowImageActivity"/>
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.ChattingActivity" />
        <activity android:name=".ReceiveNotificationActivity" />

        <service android:name=".Services.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name="app.sinch.IncomingCallActivity" />
        <activity android:name="app.sinch.PlaceCallActivity" />


        <service android:name="app.sinch.SinchService" />

        <service
            android:name=".Notify.ForegroundService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ProfileDoctor" />
        <activity android:name="app.sinch.CallScreenActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>